# Autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.h
config.h.in
config.log
config.status
configure
stamp-h1

# Libtool
libtool
*.la
*.lai
*.lo

# Build dirs
.libs/
.deps/

# Objects
*.o

# Static / shared libs
*.a
*.so
*.so.*
.aider*
